@model Liczniki.Licznik

@{
    ViewBag.Title = "Rejestr Liczników";
}

<h2>Rejestr Liczników</h2>

<div>
    <h4>Licznik</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NrLicznika)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NrLicznika)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StanPoczatkowy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StanPoczatkowy)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edytuj", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Powrót", "Index")
</p>
