@model Liczniki.Odczyt

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Odczyt</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StanPoczatkowy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StanPoczatkowy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StanKoncowy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StanKoncowy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Zuzycie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zuzycie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataOdczytu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataOdczytu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CenaM3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CenaM3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Licznik.NrLicznika)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Licznik.NrLicznika)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
