@model IEnumerable<Liczniki.Models.SaldoDto>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NrLicznika)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataOperacji)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Obciazenie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Uznanie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ObciazenieSuma)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UznanieSuma)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Saldo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NrLicznika)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataOperacji)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Obciazenie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Uznanie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ObciazenieSuma)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UznanieSuma)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Saldo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
